<!DOCTYPE html>
<html>
<head>
  <title>Fproject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class ="nav navbar-inverse">
	<ul class="nav nav-tabs">
   <li class="<%='active'if current_page?(root_path)%>"><%=link_to("Home",root_path)%></li>
   		<li class="<%='active'if current_page?(intern_about_path)%>"><%=link_to("about", intern_about_path)%></li>
   		<li class="<%='active'if current_page?(intern_help_path)%>"><%=link_to("help",intern_help_path)%></li>
   	</ul>
</nav>
<%= yield %>
</body>
</html>
